@import '../../styles/variables';
@import '../../styles/mixins';

.modActions {
  display: flex;
  flex-direction: column;
  align-items: center;;
  min-width: 250px;
  flex: 0;
  margin-left: $spacing-2;
  padding: $spacing-2;
  background-color: $dark;
}

.fullWidth {
  flex: 1;
}

.content {
  position: sticky;
  top: $spacing-2;
}

.title {
  margin-bottom: 0;
  font-size: larger;
}

.managerButton {
  margin-bottom: $spacing-2;
}

@include media-breakpoint-down('medium') {
  .modActions {
    margin-left: 0;
    margin-bottom: $spacing-2;
  }
}
