@import '../../styles/variables';
@import '../../styles/mixins';

.modActions {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 0;
  margin-left: $spacing-2;
  padding: $spacing-2;
  background-color: $dark;
}

.content {
  position: sticky;
  top: $spacing-2;
}

@include media-breakpoint-down('medium') {
  .modActions {
    margin-left: 0;
    margin-bottom: $spacing-2;
  }
}
