@import '../../styles/variables';

.expandable {
  width: 100%;
  display: block;
  text-align: left;
  border: none;

  &:not(:last-child) {
    border-bottom: 1px solid $light;
  }
}

.expandableButton {
  width: 100%;
  padding: 1rem;
  display: block;
  color: white;
  background: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  border: none;
  font-size: large;
  font-weight: 100;
}

.expandableContent {
  padding: 0 1rem 1rem 1rem;
}

.modAuthor {
  color: $light;
}

.modDescription {
  margin-top: 0;
}
