@import '../../styles/variables';

.wrapper {
  background-color: $dark;
}

.navigation {
  display: flex;
}

.navigationLink {
  color: $accent;
  text-decoration: none;
  font-weight: normal;
  padding: $spacing-0 $spacing-1;
  flex: 1;
  text-align: center;
  padding: $spacing-1 0;
  margin: 0px $spacing-0;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $dark;
  background-color: $background;
  box-shadow: inset 0 -3px 0px 0px $dark;
  &:not(.disabledLink):hover {
    background-color: $dark;
    box-shadow: none;
  }
}

.disabledLink {
  color: $light;
  box-shadow: none;
}

.layout {
  padding: 0;
}
