@import '../../styles/variables';

.navigation {
  display: flex;
}

.navigationLink {
  color: $accent;
  text-decoration: none;
  font-weight: normal;
  padding: $spacing-0 $spacing-1;
  flex: 1;
  text-align: center;
  padding: $spacing-1 0;
  margin: 0px $spacing-0;
  border: solid $light;
  border-width: 1px;
  border-radius: $border-radius $border-radius 0 0;
  margin-bottom: -1px;
  &:not(.disabledLink):hover {
    background-color: $dark;
  }
}

.disabledLink {
  color: $light;
  background-color: $background;
  border-bottom-color: transparent;
}

.layout {
  padding: 0;
}

.wrapper {
  border-bottom: 1px solid $light;
}
