@import '../../styles/variables';
@import '../../styles/mixins.scss';

.listItemCard {
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  padding: $spacing-1;
  &:hover {
    background-color: $dark;
  }
  &:not(:last-child) {
    margin-bottom: $spacing-1;
  }
}

.nameImageWrapper {
  display: flex;
  flex: 1;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: $spacing-2;
}

.userName {
  color: $accent;
  margin-right: $spacing-2;
}

.descriptionWrapper {
  flex: 1.6;
}

.description {
  color: $light;
  line-height: normal;
}

@include media-breakpoint-down('small') {
  .listItemCard {
    flex-direction: column;
    align-items: flex-start;
  }
  .nameImageWrapper {
    margin-bottom: $spacing-1;
  }
}
