@import '../../styles/variables.scss';

.downloadButton {
  display: block;
  border-radius: $border-radius;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: rgb(224, 131, 43);
  color: white;
  font-size: large;
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition-property: background, box-shadow;
  transition-duration: 0.2s;
  outline: none;
  text-decoration: unset !important;
  margin-top: 1rem;
}

.downloadButton:active {
  background-color: rgb(189, 111, 38);
  box-shadow: none;
}

.downloadButton:hover:not(.disabled):not(:active) {
  background-color: rgb(240, 152, 71);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
