@import '../../styles/variables.scss';

.downloadButton {
  display: block;
  border-radius: $border-radius;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #4f8235;
  color: white;
  font-size: large;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition-property: background, box-shadow;
  transition-duration: 0.2s;
  outline: none;
  text-decoration: unset !important;
  margin-top: 1rem;
}

.downloadButton:active {
  background-color: #406b2c;
  box-shadow: none;
}

.downloadButton:hover:not(.disabled):not(:active) {
  background-color: #5f9b41;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
