@import '../../styles/variables';
@import '../../styles/mixins';

.modPage {
  max-width: map-get($breakpoints, 'medium');
  padding: $spacing-2;
  margin: 0 auto;

  h1 {
    margin-top: 0;
  }
}

.contentWrapper {
  display: flex;
  margin-top: $spacing-1;
}

@include media-breakpoint-down('medium') {
  .contentWrapper {
    flex-direction: column-reverse;
  }
}
