@import '../../styles/variables';
@import '../../styles/mixins';

.contentWrapper {
  display: flex;
  margin-top: $spacing-1;
}

@include media-breakpoint-down('medium') {
  .contentWrapper {
    flex-direction: column-reverse;
  }
}
