@import '../../styles/variables';

.modPage {
  max-width: map-get($breakpoints, 'medium');
  padding: 0 1rem;
  margin: 1rem auto 2rem;
  padding-left: calc(100vw - 100%);
  a {
    color: $accent;
  }
  pre,
  code {
    background: $dark;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid $light;
  }

  td {
    padding: $spacing-1;
  }
}

.contentWrapper {
  display: flex;
}
