.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(124, 124, 124);
  padding-bottom: 1.2rem;
}

.pageTitle {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0 0;
}

.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  font-weight: normal;
}

.pageSection {
  border-bottom: 1px solid rgb(124, 124, 124);
  padding: 1.5rem 0 2rem 0;
}

.verticalList {
  display: flex;
  flex-direction: column;
}

.sectionColumns {
  display: flex;
}

.sectionImageWrapper {
  flex: 1;
}

.sectionImageWrapper:first-child {
  margin-right: 1rem;
}

.sectionImageWrapper:not(:first-child) {
  margin-left: 1rem;
}

.sectionImage {
  border-radius: 10px;
  border: 1px solid rgb(124, 124, 124);
}

.sectionDescriptionWrapper {
  flex: 1;
}

.sectionDescription {
  margin-top: 0;
}

.footer {
  margin-top: 2rem;
  color: rgb(124, 124, 124);
}
