@import 'variables';

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.header {
  border-bottom: 1px solid $light;
  padding-bottom: 1.2rem;
  text-align: center;
}

.pageTitle {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0 0;
}

.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  font-weight: normal;
}

.pageSection {
  border-bottom: 1px solid $light;
  padding: 1.5rem 0 2rem 0;
}

.verticalList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionColumns {
  display: flex;
}

.sectionImageWrapper {
  flex: 1;
}

.sectionImageWrapper:first-child {
  margin-right: 1rem;
}

.sectionImageWrapper:not(:first-child) {
  margin-left: 1rem;
}

.sectionImage {
  border-radius: $border-radius;
  border: 1px solid $light;
}

.sectionDescriptionWrapper {
  flex: 1;
}

.sectionDescription {
  margin-top: 0;
}

.footer {
  margin-top: 2rem;
  color: $light;
  font-size: 0.8rem;
}

@media (max-width: 575.98px) {
  .sectionColumns {
    flex-direction: column;
  }
  .sectionImageWrapper:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .sectionImageWrapper:not(:first-child) {
    margin-left: 0;
    margin-top: 1rem;
  }
}
