@import 'variables';

.container {
  max-width: 36rem;
  padding: $spacing-2;
  margin: 0 auto;
  padding-left: calc(100vw - 100%);
}

.header {
  border-bottom: 1px solid $light;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(100vw - 100%);
}

.pageTitle a {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0 0;
  padding-bottom: 1.2rem;
  color: $white;
  font-weight: 100;
}

.verticalList {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    margin-top: 8px;
  }
}

.footer {
  margin-top: $spacing-2;
  color: $light;
  font-size: 0.8rem;
  padding: 0 $spacing-2;
  text-align: center;
}
