$white: #ffffff;
$accent: #df8460;
$cta: #35823f;
$background: #1f2122;
$light: rgba(255, 255, 255, 0.65);
$dark: rgba(0, 0, 0, 0.2);

$spacing-0: 5px;
$spacing-1: 10px;
$spacing-2: 20px;

$border-radius: 0.3rem;

$breakpoints: (
  'small': 600.98px,
  'medium': 1101.98px,
  'large': 1999.98px,
) !default;
