$white: white;
$light: rgb(143, 143, 143);
$dark: rgb(32, 32, 32);
$accent: #de874a;

$spacing-1: 10px;
$spacing-2: 20px;

$border-radius: 0.3rem;

$breakpoints: (
  'small': 575.98px,
  'medium': 992px,
  'large':  1200px
) !default;
