@import '../../styles/variables';
@import '../../styles/mixins';

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $spacing-2;
}

.titleLink {
  margin-left: $spacing-2;
}

.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  a {
    color: $white;
  }
}

.pageSection {
  padding: $spacing-2 0;
  &:first-child {
    padding-top: $spacing-1;
  }
}

.line {
  flex: 1;
  margin-left: $spacing-2;
  margin-bottom: 13px;
  background-color: $light;
  height: 1px;
  border: none;
  opacity: 0.5;
}

.sectionColumns {
  display: flex;
}

.sectionImageWrapper {
  flex: 1;
}

.sectionImageWrapper:first-child:not(:only-child) {
  margin-right: 1rem;
}

.sectionImageWrapper:not(:first-child) {
  margin-left: 1rem;
}

.sectionImage {
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  display: block;
}

.sectionDescriptionWrapper {
  flex: 1;
}

.sectionDescription {
  margin-top: 0;
}

@include media-breakpoint-down('small') {
  .sectionColumns {
    flex-direction: column;
  }
  .sectionImageWrapper:first-child:not(:only-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .sectionImageWrapper:not(:first-child) {
    margin-left: 0;
    margin-top: 1rem;
  }
  .titleLink {
    margin-left: 0;
  }
}
