@import '../../styles/variables';

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $spacing-2;
}

.titleLink {
  color: $accent;
}

.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  font-weight: normal;
  a {
    color: $white;
  }
}

.pageSection {
  border-bottom: 1px solid $light;
  padding: $spacing-2 0;
  &:first-child {
    padding-top: $spacing-1;
  }
}

.sectionColumns {
  display: flex;
}

.sectionImageWrapper {
  flex: 1;
}

.sectionImageWrapper:first-child {
  margin-right: 1rem;
}

.sectionImageWrapper:not(:first-child) {
  margin-left: 1rem;
}

.sectionImage {
  border-radius: $border-radius;
  border: 1px solid $light;
}

.sectionDescriptionWrapper {
  flex: 1;
}

.sectionDescription {
  margin-top: 0;
}

@media (max-width: 575.98px) {
  .sectionColumns {
    flex-direction: column;
  }
  .sectionImageWrapper:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .sectionImageWrapper:not(:first-child) {
    margin-left: 0;
    margin-top: 1rem;
  }
}
