@import '../../styles/variables';

.modTile {
  flex: 0 50%;
  position: relative;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 3px black;
  transition: background 0.2s;
  user-select: none;
  &:hover {
    background: rgba(0, 0, 0, 0.8);
    .modContent {
      opacity: 1;
    }
  }
}

.modAuthor {
  margin-left: 1rem;
}

.modDescription {
  margin-top: 0;
}

.modImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.modContent {
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .modTile {
    flex: 0 100%;
    flex-wrap: nowrap;
  }
}
